body {
    margin: 0;
    box-sizing: border-box;
    background-color: #282828;
    text-align: center;
}

.clock {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1;
    min-height: 100vh;
    align-items: center;

}

.main {
    width: 30rem;
    height: 30rem;
    position: relative;
    border: 7px solid #282828;
    padding: 2rem;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.5),
        4px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -80px;
}

.main::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 23;
}

.num {
    position: absolute;
    inset: 20px;
    text-align: center;
    color: rgb(207, 203, 203);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    transform: rotate(calc(30deg*var(--i)));
}

.num b {
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));

}

.hand {
    background-color: var(--clr);
    position: absolute;
    display: flex;
    left: 271px;
    transform-origin: left;
    box-shadow: 0 0 20px var(--clr);
}

#hour {
    width: 135px;
    height: 9px;
}

#mini {
    width: 155px;
    height: 6px;
}

#sec {
    width: 175px;
    height: 4px;
}

.digital {
    position: relative;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.5),
        4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 700px;
    width: 660px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#digi {
    background: -webkit-linear-gradient(#22f00b, #0acbf1);
    -webkit-background-clip: text;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-fill-color: transparent;
    font-size: 2.3em;
    bottom: 40px;
    position: absolute;
}

.analog {
    position: absolute;
    top: 55px;
}